@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Sora", sans-serif;
}

/* react toastify css*/
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: #10171D; 
  font-size:1rem;
  padding: 10px;
}